[Desktop Entry]
Name=LoyaltyCardsOpen
GenericName=Cards DDBB
X-GNOME-FullName=Loyalty Cards Open
Comment=A linux app to save your cards digitally and empty your pockets of cards.
Keywords=Loyalty Cards Open; store cards;
Exec=loyaltyCards.py
Terminal=false
StartupNotify=true
Type=Application
Icon=/usr/share/pixmaps/loyaltycardsopen.svg
Categories=GNOME;GTK;Utilities;
MimeType=application/python;
Name[en_US]=Loyalty Cards Open
X-Purism-FormFactor=Workstation;Mobile;
